* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(215deg, #150924 0%, #f5f7fa 50%);
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-bottom: 50px;
    font-size: 80px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

#count-el, #save-el {
    font-size: 50px;
    margin-bottom: 10px;
}

button {
    font-size: 20px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: bold;
    width: 250px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}